[user]
	email = kubo@sra.co.jp
	name = Kuboneteru
[http]
	proxy = www-proxy.sra.co.jp:80
[https]
	proxy = www-proxy.sra.co.jp:80
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
